/**
 * Index :
 *  - Font
 *  - Global
 *  - Admin
 * Header :
 *  - Header
 *  - Header Single page
 * Head Home Page :
 *  - Accueil header article
 *      - Right article
 *  - Accueil article
 *  - Accueil article latest
 *  - Category page
 *      - Share
 *  - Pagination
 *  - Single page
 *  - Sidebar
 *  - Single page
 *  - Footer
 *  -@media queries
 */

/*FONTS
font-family: 'Crimson Text', serif;
font-family: 'Open Sans', sans-serif;
*/

/* Global */
@font-face {
    font-family: 'Crimson Text';
    font-display: auto;
    src: local('Arvo'), url(https://fonts.gstatic.com/s/arvo/v9/rC7kKhY-eUDY-ucISTIf5PesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
}

body{
    margin: 0;
    font-family: 'Crimson Text', serif;
    padding:0;
    color: #4B4F54;
}
a{
    text-decoration: none;
    color: #4B4F54;
    
}
a:hover {
    text-decoration: none;
    color:#FF8D6A;
}
li{
    list-style: none;
}
.uppercase{
    text-transform: uppercase;
}
/* admin*/
.header_admin_margin{
    margin-top: 32px;

}
#wpb_widget-4{
    text-decoration: none;
}

/* HEADER */ 
.site-title{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    font-size: 3.9rem;
    font-weight: 600;
    
}
.site-header{
    margin: 0;
}
.site-branding{
    margin: 0;
    padding: 0;
}
.social_nav{
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    
}
.social_link{
    padding-left: 15px;
    position: relative;
    top: -75px;
    right:40px;
}
.cat_nav{
    /* for bs nav
    display: flex;
    justify-content: center;
    */
    padding: 14px; /* for BS nav */
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    border-bottom: 1px solid #F2F2F2;
}
.site-navigation > a{
    margin-left: 50px;
    padding: 12px 0;
    border-bottom: 3px solid white;
    
}
.site-navigation > a:hover{
    border-bottom: 3px solid #FF8D6A;
}
#searchModal {
    padding-right: 0px!important;
    
}

.close{
    font-family: "Open sans", serif;
}
/*
.modal-full {
    min-width: 100%;
    margin: 0;
    padding: 0px;
}
.modal-content {
    height: 93vh;
    background: rgba(255,255,255,0.5)
}*/
.modal-search {
    margin: 0px;
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

/* Search page */
.search-search {
    margin-top: 20px
}
/* HEADER Single page*/

.header_admin_margin{
    padding-left:10px;
    padding-right:10px;
    margin: 0;
}

.banniere-nav, .navbar-inverse{
    border-bottom: 1px solid #555;
    background-color: white;
    height: 65px;
    
}
.nav_single_global{
    display: flex;
    justify-content: flex-start;
    padding-top: 15px;
}
#navbarToggleExternalContent > div > a{
    padding: 5px 0px;
    font-family: "Open sans", serif;
    font-size: 1.4rem;
    border-bottom: 2px solid #fff;
}
#navbarToggleExternalContent > div > a:hover{
    border-bottom: 2px solid #FF8D6A;
}
.form-newletter{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.icon-bar {
    margin-bottom:3px;
    display: block;
    margin-left: 10px;
    padding-left: 20px;
    width: 22px;
    height: 3px;
    background-color: #555;
    border-radius: 1px;
  }
.btn-sign{
    background-color: #000;
    border-radius: 0;
    margin-left: -5px;
    color: white;
    font-size: 0.8rem;
    height: 38px;
    width: 80px;
    border: 1px solid #000;
  }
.btn-sign:hover{
    background-color: white;
    color: #FF8D6A;
    border: 1px solid #FF8D6A;
  }

.p-4{
    background-color: white;
    border-bottom: 1px solid #555;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.text-form{
    margin: 0;
    font-family: "Open sans", serif;
    font-size: 0.9rem;
    padding-right: 5px;
}
.input-newletter{
    width: 250px !important ;
    border: 1px solid black;
 
}
.btn-nav{
    margin-left: 20px;
}
.logo_nav{
    display: flex;
    justify-content: flex-end;
  
}
.logoFarmer{
    width: 62px;
    height: 62px;
    margin-bottom: 5px;
    
    
}
.search_single{
    position: relative;
    top: 17px;
    margin-left: 15px;
}
/* ACCUEIL HEADER ARTICLE */
.global_article_header{
    padding: 20px 0;
}

.article_headerBig{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headerbig{
    width: 600px;
    height: 400px;
    object-fit: cover;
}
.img-header{
    width: 1500px;
    height: 200px;
    object-fit: cover;
}
/* RIGHT */
.article_header_right{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title_article_header{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #4B4F54;
    padding: 10px 0;
}
.title_article_header_big{
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #4B4F54;
}
.cat_article_header{
    font-family: 'Open sans', serif;
    font-size: 0.75rem;
    font-weight: bold;
    width: 80px;
    color: #FF8D6A;
    padding-top:20px;
}

/* ACCUEIL ARTICLE */
.global_article{
    display: flex;
    justify-content: space-around;
    border-top: 2px solid #F2F2F2;
    padding: 30px 0;
}

.article{
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #F2F2F2;

}
#main > div:nth-child(2) > div.col-md-9 > div.row.container.global_article > div:nth-child(3) {
    border-bottom: none;
}
.article_right{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content:  center; 
    align-items: flex-start;   

}
.cat_article{
    font-family: 'Open sans', serif;
    font-size: 0.75rem;
    font-weight: bold;
    width: 80px;
    color: #FF8D6A;
    border-right: 1px solid #F2F2F2;    
}
.title_article{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    
    text-transform: uppercase;
    color: #4B4F54;
    
}


/* ACCUEIL ARTICLE LATEST */
.global_article1{
    display: flex;
    justify-content: space-around;
    border-top: 2px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    padding: 30px 0;
}
.section_article{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: #fff;
    position: relative;
    top: 20px;
    right: 20px;;
    width: 220px;
    padding-left: 40px;
    
}

.title_article1{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 5px 10px;
    text-transform: uppercase;
    color: #4B4F54;
}
.article1{
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 

}
.cat_article1{
    font-family: 'Open sans', serif;
    font-size: 0.75rem;
    font-weight: bold;
    color: #FF8D6A;
}
.img_artcile1{
    padding-bottom: 20px;
}
.text_article1{
    padding: 5px 10px;
    text-align: center;
}
.img-latest{
    width: 300px;
    height: 250px;
    object-fit: cover;
}

/* CATEGORY PAGE */
.OP_cat_page{
    margin: 20px 0;
    height: 80px;
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
       
}
.OP_article_global{
    display: flex;
    justify-content: center;

}
.OP_article_solo{
    padding: 30px 0;
    border-bottom: 1px solid #F2F2F2;
    

}
.OP_cat_article{
    font-family: 'Open sans', serif;
    font-size: 0.75rem;
    font-weight: bold;
    width: 80px;
    color: #FF8D6A;
    border-right: 1px solid #F2F2F2; 

}
.OP_title_article{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 5px 0px;
    text-transform: uppercase;
    color: #4B4F54;
}
.OP_text_article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.img-op{
    width: 330px;
    height:250px;
    object-fit: cover;
}
/*SHARE*/
.share_global{
display: flex;
}
.share{
    font-family: "Open sans", serif;
    font-size: 0.8rem;
    text-transform: uppercase;
    position:relative;
    top:  8px;
    padding-left: 10px;

    color: rgb(187, 181, 181);
}
.fa-share{
    border:1px solid rgb(238, 238, 238);
    padding: 10px 10px;
    border-radius: 500px;

}
/*PAGINATION*/

.page-numbers{
    background-color: white;
    color: #45484a;
    padding: 3px 11px;
    border: 1px solid #45484a;
    border-radius: 500px;
    margin: 0 5px;
    
}
.page-numbers:hover{
    background-color: #45484a;
    color: white; 
}
.current{
    background-color: #45484a;
    color: white;
}
.pagination_global{
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.dots{
    border: none;
}
/* SINGLE PAGE */

.post {

    float: right;   
}

/* SIDEBAR */
.sidebar_nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;  
}
.sidebar_link{
    display: flex;
    justify-content: space-between;
    width: 215px;
    height: 35px;
    margin-bottom: 3px;
    
}
.sidebar_link_facebook{
    background-color: #899DCE;
}
.sidebar_link_twitter{
    background-color: #60D2F5;
}
.sidebar_link_instagram{
    background-color: #709CBF;
}

.sidebar_facebook, .sidebar_twitter,
.sidebar_instagram {
    position: relative;
    padding-left:  10px;
    padding-top: 10px;
    color: white;
}
.sidebar_follow_number {
    position: relative;
    padding-top: 4px;
    margin: 0px;
    left: 0px;
    color: white;
}
.sidebar_follow{
    font-family: 'Open sans', serif;
    text-transform: uppercase;
    color: white;
    font-size: 0.7rem;
    padding-right: 10px;
    margin: 0px;
    position: relative;
    top: 8px;


}
.widget_custom_html {
    list-style: none;
}

.widget_media_image {
    list-style: none;
}

#main > div:nth-child(2) > div.col-md-3.sidebar_right > div {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}


#secondary{
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
}
#secondary > ul {
    margin: 0px;
}
.wp-image-104{
    padding-top: 20px;
}
.form-submit{
    padding-bottom: 50px;
}
/* SIDEBAR 2*/
.titre_single_sidebar{
    text-align: center;
    font-family: "Open sans", serif;
    font-size: 1.2rem;
    padding-bottom: 10px;
}
.sidebar_nav2{
    display: flex;
    justify-content: center;
    padding: 0;
    padding-bottom: 26px;
}
.icon_facebook,.icon_twitter,.icon_instagram,.icon_pinterest{
    background-color: #45484a;
    border-radius: 500px;
    padding:5px 11px;
    margin: 10px 5px;
    color: white;
    border: 1px solid #45484a;

}

.icon_twitter{   
    padding:5px 9px;
}
.icon_instagram{
    padding:5px 9px;
}
.icon_facebook:hover, .icon_twitter:hover, .icon_instagram:hover, .icon_pinterest:hover{
    background-color:#fff;
    color:#45484a;
    border: 1px solid #45484a;
}
.sidebar_single_all {
    display: flex;
}
#sidebar > li > a {
    height: 10px;
    width: 10px;
}

/* CONTENT SINGLE PAGE */
.content_single{
    margin-top: 100px;
    
}
.site-main--single{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cat_article_single{
    font-family: 'Open sans', serif;
    font-size: 1rem;
    font-weight: bold;
    color: #FF8D6A;  
}
.title_article_single{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    color: #4B4F54;
    padding: 20px 0;
}
.img-single{
    width: 850px;
    height: 600px;
    object-fit: cover;     
}
.h1-single{
    font-size: 2rem;
}
.text_single{
    font-family: 'Crimson Text', serif !important; 
    font-weight: normal !important;
}
.under_img_single{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 25px 0;
    padding: 4px 0;
    border-bottom: 1px solid #F2F2F2;
    border-top: 1px solid #F2F2F2;

}
.left_under_img{
    display: flex;
    justify-content: space-around;  
}
.text_under_img{
    font-family: "Open sans", serif;
    font-size: 0.8rem;
    position: relative;
    top: 15px;
    right: 30px;
    text-transform: uppercase;
    
}
.right_under_img{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.comment_single{
    background-color: #555;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: "Open sans", serif;
    font-size: 0.9rem;
}
.fa-comment-o{
    padding-right: 10px;
}
.logoFarmer_small{
    width: 50px;
    height: 50px;
}
.global_share_single{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 70px;
}
.share_single{
    font-family: "Open sans", serif;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    padding:0 10px;
}
.facebook_single{
    color: white;
    font-size: 12px;
    padding: 6px 9px;
    background-color: #899DCE;
    border-radius: 500px;
}
.twitter_single{
    color: white;
    padding: 6px 7px;
    background-color: #60D2F5;
    border-radius: 500px;
}
.printerest_single{
    color: white;
    padding: 6px 7px;
    background-color: #F74C53;
    border-radius: 500px;
}
.facebook_single_bottom,.twitter_single_bottom,
 .printerest_single_bottom{
    max-width: 150px;
    color: white;
    background-color:#899DCE;
    padding: 5px 20px;
    border-radius: 5px;
    font-family: "Open sans", serif;
    font-size: 0.9rem;

}
.twitter_single_bottom{
    background-color:#60D2F5;   
}
.printerest_single_bottom{
    background-color:#F74C53;  
}
.icon_single_bottom{
    padding-right: 10px;
}
.newletter_global{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}
.title_newletter_single{
    font-weight: bold;
    font-size: 2.2rem;
    
}
.input_single{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    
}
.btn-newletter{
    background-color: #FF8D6A;
    border-radius: 0;
    margin-left: -5px;
    color: white;
    font-size: 0.8rem;
    height: 40px;
    width: 100px;
    border: 1px solid #FF8D6A;
}
.btn-newletter:hover{
    background-color: white;
    color: #FF8D6A;
}
.paragra_single{
    display: flex;
    justify-content: center;
    padding: 30px 0;
}
.title_paragra{
    font-weight: bold;
    font-size: 1rem;
    font-family: "Open sans", serif;
}
.text_paragra{
    color: #aaaaaa;
    font-family: "Open sans", serif;
    font-size: 0.9rem;
}
.contain_logo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.logoFarmer_single{
    object-fit: contain;
    width: 150px;
}
.title_section_single{
    display: flex;
    justify-content: flex-start;
}
.pagination_single{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    border-bottom: 1px solid #F2F2F2;
    border-top: 1px solid #F2F2F2;
}
.previous{
    border-right: 1px solid #F2F2F2;;
}
.nav_pagi >a{
    font-family: "Open sans", serif;
    font-size: 0.8rem;
    color: rgb(211, 206, 206) !important;
    font-weight: bold;
    padding-bottom: 3px;
    border-bottom: 2px solid white; 
}
.nav_pagi >a:hover{
    border-bottom: 2px solid #FF8D6A;
}
.title_pagi{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
}
.section_article_single{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    background-color: #fff;
    position: relative;
    top: 20px;
    right: 70px;;
    width: 220px;
    padding-left: 40px;
}
.global_might{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#main > div > div > div.row.container.global_article >
 div > div.img_artcile > img{
    width: 250px;
    height: 200px;
    object-fit: cover;
 }
.img_artcile{
    display: flex;
    justify-content: center;
}

.input_comment{
display: flex;
justify-content: space-around;
margin: 20px 0; 
}
.comment-reply-title{
    font-family: "Open sans", serif;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 20px;
    padding-top: 30px;
    border-top: 1px solid    #F2F2F2;
}
.form-control{
    font-family: "Open sans", serif; 
    font-size: 0.7rem;
    
}
.textArea-comment{
    height: 150px !important;
}
.btn-coment{
    width: 150px;
    height: 45px;
    font-family: "Open sans", serif;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    border-radius: 0;
    font-size: 0.7rem;
}
/* SEARCH*/
.modal-search{
    width: 450px; 
    height: 60px;
    font-family: "Open sans", serif;
    font-size: 1.5rem;
    padding-left: 10px;
}



/* FOOTER */

footer{
    background-color:#3a3e43;
    background-position: center center;
    display: block;
    padding-top: 60px;
    width:100%;

}

.footer-ul {
    list-style:none;
    padding:0;
    margin:0;

}
.footer-li{
    display: block;
    text-transform: capitalize;
    font-size: 13px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #44484d;
    font-family: 'Open Sans', sans-serif;
    color:#fff;
    font-weight:800;
    transition: color .2s ease-in-out;

}

.footer-a{
    color:white;
}

.footer-a:hover{
    color:#FF8D6A;  
}

.h3-title{
    font-family: 'Open Sans', sans-serif;
    margin-left:17px;
    font-weight:800;
    font-size: 10px;
    color:#aaaaaa

}
.footer-li-posts{
    color:#fff;
    font-weight:800;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    margin-right:5px;
    padding-left:12px;
}

.article-posts{
    padding-bottom:30px;
    display:flex;
}

.img-pop-footer{
    width:100px;
    height:80px;
    object-fit: cover;
}
.footer-ul-posts{
    list-style:none;
    padding:0;

}
#content > footer > div > div > div:nth-child(1) > aside > ul > li:nth-child(5){
    border: none;
}
.img-instagram{
    width:110px;
    height:110px;
    padding:4px;

}
.footer-a-posts{
    color:#fff;
    font-weight:600;
    font-family: 'Open Sans', sans-serif;
    

}

.footer-a-posts:hover{
    color:#FF8D6A;

}

.footer-bottom{
    background-color:#303336;
    align-items: center;
    display:flex;
    justify-content:center;
    height: 55px;
    
}
.footer-bottom::nth-last-child(1){
    justify-content: flex-end;
}
.icon-footer{
    position: absolute;
    right: 40px;
    
}

.footer-icon_facebook{
    background-color: #45484a;
    border-radius: 500px;
    padding:9px 13px;
    margin: 10px 5px;
    color:white; 

}

.footer-icon_twitter{
    background-color: #45484a;
    border-radius: 500px;
    padding:9px 10px;
    margin: 10px 5px;
    color:white; 
}

.footer-icon_instagram{
    background-color: #45484a;
    border-radius: 500px;
    padding:9px 11px;
    margin: 10px 5px;
    color:white; 
}

.footer-icon_facebook:hover{
    background-color:#fff;
    color:black;
    transition: color .2s ease-in-out;
}

.footer-icon_twitter:hover{
    background-color:#fff;
    color:black;
    transition: color .2s ease-in-out;
}

.footer-icon_instagram:hover{
    background-color:#fff;
    color:black;
    transition: color .2s ease-in-out;
}

.copyright{
    color: white;
    margin: 0;
}


@media only screen and (max-width: 1000px) {
    /*INDEX*/
    .social_link{
        top:0;
        right: 0;
    }
    .social_nav{
        justify-content: center;
        padding: 0 !important;

    }
    #navbarToggleContent > ul > li > a{
        margin:0;
        
    }
    #navbarToggleContent > ul > li{
        
        display: flex;
        justify-content: center;        
    }
    #secondary{
        display:none;
    }
    .global_article{
        display: flex;
        justify-content: center;
    }
   
    .article-sm{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .article_right{
        padding-top: 20px;
    }
    .icon-footer{
        position: inherit;
        right: 20px;
    }
       
    .insta_center_footer{
        display: flex;
        justify-content: center;
    }
     /*CATERGORIES*/
    .OP_text_article{
        padding-top: 20px;
    }
    .OP_img{
        display: flex;
        justify-content: center;
    }
    .sidebar_cat{
        display: none;
    }

    /*SINGLE*/
    .form-newletter{
        display: none;
    }
    .logo_nav{
        position: absolute;
        right: 25px;
    }
    .siderbar_single{
        display: none;
    }
    .titre_nav_single{
        position: absolute;
        left: 60px;
        z-index: 9;
        width: 200px;

    }
    .navbar-toggler{
        z-index: 999;
    }
    .modal-search{
        width: 300px;
    }
    .global_share_single{
        display: none;
    }
    .comment-respond{
        padding: 0 10px;
        
    }
    .input_comment{
        display: flex;
        flex-direction: column;
        width: 300px;
    }
    .form-control{
        margin-bottom: 10px;
    }
    .contain_logo{
justify-content: center;
    }
    .center-sm-single{
        display: flex;
        align-items: center;
        flex-direction: column; 
    }
}

@media only screen and (max-width: 600px) {
   .img-single{
       width: 350px;
       height: 300px;
   }

}